._*
.DS_Store
/.history/
/node_modules/
__sapper__/
/src/node_modules/@sapper/
/src/routes/docs

/src-media
/src/admin
/src/components/experimental

.env

package-lock.json

/.svelte-kit
/build
/functions

./svelte-kit

/zip-upload.sh
/db
.env*